# API Keys / Config
config.js

# Node modules
node_modules/

# Build / dist folders
dist/
build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Temp files
*.tmp
*.swp